<div id="acquaGrupo">
    
    <section id="home" class="content-group">
        
        <ul class="previews-group">
            <li ng-repeat="item in pagesGrupo.segmentos | orderBy: 'seg'">
                <a ng-href="{{item.link}}">
                    <figure class="effect-bubba">
						<img ng-src="{{item.img}}" alt="{{item.title}}{{item.subtitle}}"/>
						<figcaption>
							<h2>
                                {{item.title}}<span>{{item.subtitle}}</span>
                            </h2>
							<ng-bind-html ng-bind-html="item.content"></<ng-bind-html>
						</figcaption>			
					</figure>
                </a>
            </li>
        </ul>
    </section>

    <!--
        ==========================================================
        SOBRE
        ==========================================================
    -->
    <section id="sobre" class="container mb-60">
        <div class="row pt-60">
            <div class="col-md-12 vertical-aling text-center">
                <h1 class="title fg-thunderbird">
                    {{pagesGrupo.sobre.title}}
                </h1>
                <h5 class="subtitle">{{pagesGrupo.sobre.subtitle}}</h5>
            </div>
            <div class="col-md-12 pt-30 pt-25 pl-30 pr-30">
                <div class="desc">
                    <p class="fg-gray" ng-bind-html="pagesGrupo.sobre.content[0].content"></p>
                </div>
            </div>

        </div>
    </section>

    <!-- video -->

    <section id="video">
        <video controls>
          <source src="http://site-acqua.siritecnologia.com.br/videos/home.mp4" type="video/mp4">
        </video>
    </section>


    <style type="text/css">
        #video video{
            width: 100% !important;
            height: 621px;
        }
    </style>

    

    <section id="promocoes">
        <div class="container-fluid pl-0 pr-0">
             <div id="parallax-img" 
                  dts-parallax-img="" 
                  dt-src="pagesGrupo.publicicdade.content.img" 
                  dt-speed="10"
                  dt-height="60"
                  >
                <div class="banner-sale">
                    <div class="container">
                        <h3 class="subtitle">{{pagesGrupo.publicicdade.content.title}}</h3>
                        <h2 class="title">{{pagesGrupo.publicicdade.content.subtitle}}</h2>
                        <!--<p class="txt">
                            {{pagesGrupo.publicicdade.content.content}}
                        </p>-->
                        <p class="txt" ng-bind-html="pagesGrupo.publicicdade.content.content"><p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <!--
        ==========================================================
        SERVIÇOS
        ==========================================================
    -->
    <section id="servicos" class="container">
        
        <div class="row pt-60">
            <div class="col-md-12 vertical-aling text-center mb-60">
                <h1 class="title fg-thunderbird">
                    {{pagesGrupo.servicos.title}}
                </h1>
                <h5 class="subtitle">{{pagesGrupo.servicos.subtitle}}</h5>
            </div>
            <div class="col-lg-3 col-md-3 col- col-sm-12 col-xs-12 mb-30 text-center"
                    ng-repeat="box in pagesGrupo.servicos.content[0].box track by box.seq">
                <span class="icons-grupo">
                    <i ng-class="box.icon" ></i>
                </span>
                <div class="box-grupo">
                    <h3>{{box.title}}</h3>
                    <p ng-bind-html="box.content"></p>
                </div>
            </div>
        </div>

    </section>


    <!--
        ==========================================================
        CONTATO
        ==========================================================
    -->
    <section id="contato" class="container">
        <div class="row pt-60">
            <div class="col-md-12 vertical-aling text-center mb-60">
                <h1 class="title fg-thunderbird">
                    {{pagesGrupo.contato.title}}
                </h1>
                <h5 class="subtitle">{{pagesGrupo.contato.subtitle}}</h5>
            </div>
        </div>
        <div class="container">
            <div class="row pt-60">
            
                <div class="col-lg-12 col-md-12 col-lg-12 col-sm-12 col-xs-12 mb-30">
                    <!--<p class="text-content block-two" ng-bind-html="pagesGrupo.contato.content"></p>-->
                    <p class="text-content block-two">
                        Se você deseja entrar em contato com o Grupo Acqua para enviar sugestões ou obter alguma informação, utilize o formulário de contato abaixo
                        Os itens marcados com "*" são obrigatórios
                    </p>
                </div>

                <div class="col-md-7 col-lg-7 col-sm-7 col-xs-12 pr-45">
                    <h4 class="border-title ng-binding">
                        Formulario de <span>Contato<span id="transmark" style="display: none; width: 0px; height: 0px;"></span></span>
                    </h4>
                    
                    <!--Form Start-->
                    <form id="contactForm" novalidate="novalidate">
                        <!-- Name Text Box -->
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 not-pad">
                            <div class="contato-field control-group control-odd">
                                <i class="fa fa-user"></i>
                                <input class="form-control" placeholder="Nome *" name="name" id="name" type="text">
                            </div>
                        </div>

                        <!-- Email Text Box -->
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 not-pad">
                            <div class="contato-field control-group">
                                <i class="fa fa-envelope-o"></i>
                                <input class="form-control" placeholder="E-mail *" name="email" id="email" type="email">
                            </div>
                        </div>
                        
                        <!-- Whatsapp Text Box -->
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 not-pad">
                            <div class="contato-field control-group">
                                <i class="fa fa-whatsapp"></i>
                                <input class="form-control" placeholder="Whatsapp" name="whatsapp" id="whatsapp" type="text">
                            </div>
                        </div>

                        <!-- Telefone Text Box-->
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 not-pad">
                            <div class="contato-field control-group pl-15">
                                <i class="fa fa-mobile"></i>
                                <input class="form-control" placeholder="Telefone ou Celular *" name="phone" id="phone" type="text">
                            </div>
                        </div>
                        
                        <!-- Subject Text Box -->
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 not-pad">
                            <div class="contato-field control-group">
                                <i class="fa fa-pencil-square-o"></i>
                                <input class="form-control" placeholder="Assunto *" name="subject" id="subject" type="text">
                            </div>
                        </div>

                        <!-- Message Text Box -->
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 not-pad">
                            <div class="contato-field control-group">
                                <textarea class="form-control tarea" placeholder="Mensagem *" name="message" id="message"></textarea>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 not-pad">
                            <div class="contato-field main-but">
                                <div class="inner-out-button">
                                    <button class="button-dark button2 pull-right" data-loading-text="Enviando..." type="submit">Enviar Mensagem</button>
                                </div>
                            </div>
                        </div>
                    
                    </form><!-- Form End -->
                </div>

                <div class="col-md-5 col-lg-5 col-sm-5 col-xs-12 pr-45">

                    <h4 class="border-title ng-binding">
                        Mais <span>informações<span id="transmark" style="display: none; width: 0px; height: 0px;"></span></span>
                    </h4>
                    
                    <div class="panel-group mt-25 panel-contact" id="accordion">

                        
                        <div class="panel panel-default" ng-if="pagesGrupo.contato.info.contacts">
                            <div class="panel-heading" role="tab" id="headingOne" ng-click="c1 = !c1">
                                <h4 class="panel-title">
                                    <i class="fa fa-phone"></i> Telefones
                                    <i class="pull-right fa" ng-class="{'fa-angle-right ': c1, 'fa-angle-down ': !c1 }"></i>
                                </h4>
                            </div>
                            <div uib-collapse="c1" class="panel-collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="co in pagesGrupo.contato.info.contacts track by co.seq">
                                            <i class="icon-desc" ng-if="co.type.icon" ng-class="co.type.icon"></i>
                                            <span ng-if="co.code">{{co.code}}</span>
                                            <span>{{co.number_id}}</span>
                                            <span ng-if="co.type.operators">( {{co.type.operators}} )</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel panel-default" ng-if="pagesGrupo.contato.info.emails">
                            <div class="panel-heading" role="tab" id="headingOne" ng-click="c2 = !c2">
                                <h4 class="panel-title">
                                    <i class="fa fa-envelope-o"></i> E-mails
                                    <i class="pull-right fa" ng-class="{'fa-angle-right ': !c2, 'fa-angle-down ': c2 }"></i>
                                </h4>
                            </div>
                            <div uib-collapse="!c2" class="panel-collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="em in pagesGrupo.contato.info.emails track by em.seq">
                                            <span ng-if="em.desc">( {{em.desc}} )</span>
                                            <span>{{em.email}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default" ng-if="pagesGrupo.contato.info.business_hours">
                            <div class="panel-heading" role="tab" id="headingOne" ng-click="c3 = !c3">
                                <h4 class="panel-title">
                                    <i class="fa fa-clock-o"></i> Horários
                                    <i class="pull-right fa" ng-class="{'fa-angle-right ': !c3, 'fa-angle-down ': c3 }"></i>
                                </h4>
                            </div>
                            <div uib-collapse="!c3" class="panel-collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="bh in pagesGrupo.contato.info.business_hours track by bh.seq">
                                            <i class="icon-desc" ng-if="bh.icon" ng-class="bh.icon"></i>
                                            <span ng-bind-html="bh.desc"></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default" ng-if="pagesGrupo.contato.info.address">
                            <div class="panel-heading" role="tab" id="headingOne" ng-click="c4 = !c4">
                                <h4 class="panel-title">
                                    <i class="fa fa-map-o"></i> Endereço
                                    <i class="pull-right fa" ng-class="{'fa-angle-right ': !c4, 'fa-angle-down ': c4 }"></i>
                                </h4>
                            </div>
                            <div uib-collapse="!c4" class="panel-collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="ad in pagesGrupo.contato.info.address track by ad.seq">
                                            <i class="icon-desc" ng-if="ad.icon" ng-class="ad.icon"></i>
                                            <span ng-if="ad.country" ng-bind-html="ad.country"></span> -
                                            <span ng-if="ad.state" ng-bind-html="ad.state"></span> / 
                                            <span ng-if="ad.neighborhood" ng-bind-html="ad.neighborhood"></span>
                                            <p>
                                                <span ng-if="ad.street"><strong>Rua:</strong> {{ad.street}}</span> 
                                            </p>
                                            <p>
                                                <span ng-if="ad.number"><strong>Nº:</strong> {{ad.number}}</span> 
                                            </p>
                                            <p>
                                                <span ng-if="ad.zip_code"><strong>Cep:</strong> {{ad.zip_code}}</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel panel-default" ng-if="pagesGrupo.contato.info.social[0].link !==''">
                            <div class="panel-heading" role="tab" id="headingOne" ng-click="c5 = !c5">
                                <h4 class="panel-title">
                                    <i class="fa fa-share-square-o"></i> Redes Sociais
                                    <i class="pull-right fa" ng-class="{'fa-angle-right ': !c5, 'fa-angle-down ': c5 }"></i>
                                </h4>
                            </div>
                            <div uib-collapse="!c5" class="panel-collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li ng-repeat="so in pagesGrupo.contato.info.social track by so.seq">
                                            <a ng-href="{{so.link}}" target="_blank">
                                                <i class="icon-desc" ng-if="so.icon" ng-class="so.icon"></i>
                                                <span ng-if="so.name">({{so.name}})</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    


    <!--
        ==========================================================
        MAPS
        ==========================================================
    -->
    <section id="mapsGroup" class="container-fluid pl-0 pr-0">
        <div class="row-fluid">
            <div dts-maps="" data-options="confMaps"></div>
        </div>
    </section>
   
</div>


<style type="text/css">
    .icons-grupo{
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        cursor: pointer;
        margin: 15px 30px;
        width: 134px !important;
        height: 134px !important;
        border-radius: 50%;
        text-align: center;
        position: relative;
        color: #941518;
        font-size: 70px !important;
        background: rgba(255,255,255,1) !important ;
        z-index: 1;
        border: 4px inset #E82127 !important;
        padding: 28px !important;
    }
    .icons-grupo:hover{

        background: rgba(255,255,255,0.1);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        transition: background 0.2s, color 0.2s;
        background: #E82127 !important;
        color: #fff !important;
    }

    header{
        background: #C0392B !important;
    }

    .navbar-header{
        background: #fff;
    }

    @media (min-width: 768px){
        .header-left .navbar-default {
            background: #C0392B !important;
            margin: 0px;
            border: none;
        }

        .header-left .navbar-default .navbar-nav > .active > a, .header-left .navbar-default .navbar-nav > .active > a:focus, .header-left .navbar-default .navbar-nav > .active > a:hover {
            color: #F28386 !important;
        }

    }

    .navbar-default .navbar-nav>li>a {
        color: #fff !important;
    }

    .navbar-default .navbar-nav>li>a:hover {
        color: #F28386 !important;
    }
    .navbar-header:after, .navbar:after {
        clear: none !important;
    }



</style>