<div class="row content-popover">
    <div class="col-lg-12">
        <a class="popover-close" ng-click="prod.popover = !prod.popover">
            <i class="fa fa-times"></i>
        </a>
    </div>
    <div class="col-lg-12">
        <uib-tabset active="active">
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="fa" ng-class="prod.details.icon"></i> 
                    {{prod.details.title}}
                </uib-tab-heading>
                <div class="tab-content-pop">
                    <p ng-bind-html="prod.details.desc"></p>
                </div>
            </uib-tab>
        </uib-tabset>
        <!--
        <uib-tabset active="active">
            <uib-tab index="$index" ng-repeat="tabs in prod.details">
                <uib-tab-heading>
                    <i class="fa" ng-class="tabs.icon"></i> 
                    {{tabs.title}}
                </uib-tab-heading>
                <div class="tab-content-pop">
                    <p ng-bind-html="tabs.content"></p>
                </div>
            </uib-tab>
        </uib-tabset>
        -->
    </div>
</div>