<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
            <ul class="breadcrumb-nav">
                <li ng-repeat="item in breadcrumb track by $index">
                    <a ng-class="{'bc-lf': $index > 0}"> 
                        {{item.title}} 
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right top-navbar">
            <li class="dropdown" uib-dropdown auto-close="outsideClick">
                <a class="dropdown-toggle" uib-dropdown-toggle toggle-event="click" href="#">
                    <i class="pe-7s-user"></i>
                    <p>Nome</p> 
                    <i class="fa fa-angle-down ic-small"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Perfil</a></li>
                    <li><a ng-click="logout()">Sair</a></li>
                </ul>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
        </ul>
    </div>
</div>