<h4 class="border-title" ng-bind-html="servicos.name"></h4>

<p class="text-content block-two" ng-bind-html="servicos.desc"></p>

<!--
<div class="col-sm-3 col-xs-12" ng-if="prod.cat_id === tab.id" ng-repeat="prod in products">
    <div class="box-products">
        <div class="product-overlay-popover"
            uib-popover-template="prod.template"
            popover-placement="right-top"
            popover-trigger="'focus'"
            popover-is-open="prod.popover"
            >
        </div>
        <div class="img-product clearfix">
            <img ng-src="{{prod.img}}" alt="{{prod.title}}">
            <a class="mask-product"
                ng-class="{'active' : prod.popover}" 
                ng-click="prod.popover = !prod.popover">
                <span>Detalhes</span>
                <i class="fa fa-link"></i>
            </a>
        </div>
        <div class="caption-product clearfix">
            <h5>{{prod.title}}</h5>
            <h3>
                <a ng-click="addCart($event, prod)" class="text-center"><i class="fa fa-shopping-basket"></i> Adicionar</a>
            </h3>
        </div>
    </div>
</div>
-->