<!-- Formulário Modal -->
<div class="modal-content" ng-controller="HomeAcquaShopCtrl">
    
    <!-- Cabeçalho -->
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
            <span class="glyphicon glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            <span class="" aria-label="Left Align">
                <i class="fa newspaper-o"></i> 
                    {{ title }}
            </span>

        </h4>
    </div>
    
    <!-- Formulário Corpo -->
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-vd" ng-init="getWHV()">
                <img ng-src="{{blog.img}}" class="img-responsive" alt="{{blog.title}}" ng-if="blog.img"/>
                <youtube-video video-url="blog.video"  player-width="vw" player-height="vh" ng-if="blog.video"></youtube-video>
                <!--<div id="ytplayer" ng-init="getPlayVideo(blog.video)" ng-if="blog.video"></div>-->
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="page-header">
                    <h2>{{blog.title}}</h2>
                </div>
                <p ng-bind-html="blog.content" class="mb-20"></p>
                <p>
                  <a class="btn btn-default" ng-if="blog.link"><i class="fa fa-link"></i> visitar o site</a>  
                </p>
                <p ng-if="blog.author">
                    Autor: <strong>{{blog.author}}</strong>
                </p>
            </div>
        </div>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
        <button ng-click="cancel()" type="button" class="btn btn-default btn-fill pull-left">Fechar</button>
    </div>

</div>