<div class="row" data-ng-repeat="contacts in info.contacts">
    <div class="col-md-10">
        <div class="row card ml-0 mr-0 pl-0 pr-0">
            <div class="header"></div>
            <div class="content">
                <div class="form-group col-md-2 ml-0 pl-0">
                    <label class="control-label text-left">Operadora:</label>
                    <div class="pl-0 ml-0">
                        <ui-select data-ng-model="contacts.type.op_id" theme="bootstrap">
                            <ui-select-match placeholder="...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="op in operadoras | orderBy: 'id' | filter: $select.search">
                                <span ng-bind-html="op.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <input type="hidden" data-ng-model="contacts.type.id">
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label text-left">DDD:</label>
                    <input type="text" class="form-control"  placeholder="(DDD)" mask="(9?99)" clean="false" data-ng-model="contacts.code">
                    <input type="hidden" ng-model="contacts.id" />
                    <input type="hidden" ng-model="contacts.seq" value="{{$index}}"/>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label text-left">Numero:</label>
                    <input type="text" class="form-control"  placeholder="Telefone ou celular" mask="9? 9999-9999" clean="false" data-ng-model="contacts.number_id">
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label text-left">Descrição:</label>
                    <input type="text" class="form-control"  placeholder="Comercial ..." data-ng-model="contacts.type.name">
                    <input type="hidden" data-ng-model="contacts.type.id">
                </div>
                <div class="form-group col-md-2">
                    <label>Icon</label>
                    <div class="input-group popover-icon">
                        <a class="btn btn-default" data-ng-click="box.popover = !box.popover" >
                            <i class="fa" ng-class="!contacts.type.icon ? 'fa-archive' : contacts.type.icon"></i>
                        </a>
                        <div class="iconpicker-popover"
                                    uib-popover-template="'tpls/admin/components/modules/popover/contato.pop.html'"
                                    popover-placement="bottom"
                                    popover-trigger="'focus'"
                                    popover-is-open="box.popover"
                        ></div>
                    </div>
                    <input type="hidden" name="typeIcon" data-ng-model="contacts.type.icon" ng-model-options="{ debounce: 1000 }">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-2">
        <labelfor="Excluir">Excluir Conato:</label>
        <button data-ng-click="removeItemContacts($index)" class="btn btn-danger btn-addon delete-field-{{$index}}"><i class="fa fa-trash"></i>Deletar</button>            
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-2 margin-left-15">
        <label for="telefone">Novo Box:</label>
        <button data-ng-click="cloneItemContacts()" class="btn btn-success btn-addon"><i class="fa fa-plus"></i>Adicionar</button>
    </div>
</div>