<div class="row" data-ng-repeat="hours in info.hours">
    <div class="col-md-10">
        <div class="row card ml-0 mr-0 pl-0 pr-0">
            <div class="header"></div>
            <div class="content">
                <div class="form-group col-md-4">
                    <label>Icon</label>
                    <div class="input-group popover-icon">
                        <a class="btn btn-default" data-ng-click="box.popover = !box.popover" >
                            <i ng-class="!hours.icon ? 'fa fa-archive' : hours.icon"></i>
                        </a>
                        <div class="iconpicker-popover"
                                    uib-popover-template="'tpls/admin/components/modules/popover/hours.pop.html'"
                                    popover-placement="bottom"
                                    popover-trigger="'focus'"
                                    popover-is-open="box.popover"
                        ></div>
                    </div>
                    <input type="hidden" name="hoursIcon" data-ng-model="hours.icon" ng-model-options="{ debounce: 1000 }">
                </div>
                <div class="form-group col-md-8">
                    <label class="control-label text-left">Horários</label>
                    <!--<div text-angular data-ng-model="hours.desc" ta-toolbar="taConf" ta-toolbar-button-class="btn-fill btn-sm" class="ta-min-height-100 ta-height-100"></div>-->
                    <textarea class="form-control" rows="3" data-ng-model="hours.desc"></textarea>
                    <input type="hidden" ng-model="hours.id" />
                    <input type="hidden" ng-model="hours.seq" value="{{$index}}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-2">
        <labelfor="Excluir">Excluir Horários:</label>
        <button data-ng-click="removeItemHours($index)" class="btn btn-danger btn-addon delete-field-{{$index}}"><i class="fa fa-trash"></i>Deletar</button>            
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-2 margin-left-15">
        <label for="telefone">Novo Box:</label>
        <button data-ng-click="cloneItemHours()" class="btn btn-success btn-addon"><i class="fa fa-plus"></i>Adicionar</button>
    </div>
</div>