<div class="row" data-ng-repeat="social in info.social">
    <div class="col-md-10">
        <div class="row card ml-0 mr-0 pl-0 pr-0">
            <div class="header"></div>
            <div class="content">
                <div class="form-group col-md-2">
                    <label>Icon</label>
                    <div class="input-group popover-icon">
                        <a class="btn btn-default" data-ng-click="box.popover = !box.popover" >
                            <i ng-class="!social.icon ? 'fa fa-archive' : social.icon"></i>
                        </a>
                        <div class="iconpicker-popover"
                                    uib-popover-template="'tpls/admin/components/modules/popover/social.pop.html'"
                                    popover-placement="bottom"
                                    popover-trigger="'focus'"
                                    popover-is-open="box.popover"
                        ></div>
                    </div>
                    <input type="hidden" name="socialIcon" data-ng-model="social.icon" ng-model-options="{ debounce: 1000 }">
                    <input type="hidden" ng-model="social.id" />
                    <input type="hidden" ng-model="social.seq" value="{{$index}}"/>
                </div>

                <div class="form-group col-md-5">
                    <label class="control-label text-left">Nome:</label>
                    <input type="text" class="form-control"  placeholder="Facebook, Instagran ..." data-ng-model="social.name">
                </div>
                <div class="form-group col-md-5">
                    <label class="control-label text-left">Titulo:</label>
                    <input type="text" class="form-control"  placeholder="Nossa Fanpage, Insta ..." data-ng-model="social.title">
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label text-left">Link</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-link"></i></span>
                        <input type="text" class="form-control" placeholder="http:\\www.suaredesocial.com" data-ng-model="social.link">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-md-2">
        <labelfor="Excluir">Excluir Horários:</label>
        <button data-ng-click="removeItemSocial($index)" class="btn btn-danger btn-addon delete-field-{{$index}}"><i class="fa fa-trash"></i>Deletar</button>            
    </div>
</div>
<div class="row">
    <div class="form-group col-xs-2 margin-left-15">
        <label for="telefone">Novo Box:</label>
        <button data-ng-click="cloneItemSocial()" class="btn btn-success btn-addon"><i class="fa fa-plus"></i>Adicionar</button>
    </div>
</div>