<!-- Formulário Modal -->
<div class="modal-content" ng-controller="AcqPubCtrl">
    
    <!-- Cabeçalho -->
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">
            <span class="glyphicon glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
            <span class="" aria-label="Left Align">
                <i class="fa fa-pencil-square-o"></i>
                {{ title }}
            </span>

        </h4>
    </div>
    
    <!-- Formulário Corpo -->
    <div class="modal-body">
        
        <!-- Horizontal Form -->
        <form name="pubForm" novalidate>
            <div class="panel-body">    
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="form-group" ng-class="{ 'error' : pubForm.pub.content.title.$invalid && !pubForm.pub.content.title.$pristine }">
                            <label>Titulo</label>
                            <input type="text" class="form-control"  placeholder="Titulo ..." ng-model="pub.content.title" required>
                            <input type="hidden" ng-model="pub.id" />
                        </div>
                        <div class="form-group" ng-class="{ 'error' : pubForm.pub.subtitle.$invalid && !pubForm.pub.content.subtitle.$pristine }">
                            <label>Subtitulo</label>
                            <input type="text" class="form-control"  placeholder="Subtitulo ..." ng-model="pub.content.subtitle" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <label>Descrição</label>
                        <div text-angular ng-model="pub.content.content" ta-toolbar="taConf" ta-toolbar-button-class="btn-fill btn-sm" class="ta-min-height-100 ta-height-100"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <label>Banner</label>
                        <div class="input-flat-file">
                            <input type="file" ng-jcrop-input="upload" />
                            <a class="btn-file">Upload de imagem</a>
                        </div>
                        <div class="row" ng-if="!obj.src">
                            <div class="col-lg-6">
                                <img ng-src="{{pub.content.img}}" class="img-responsive">
                            </div>
                        </div>
                        <div ng-jcrop="obj.src" ng-jcrop-config-name="upload" selection="obj.selection" thumbnail="obj.thumbnail" class="jcrop-box-float"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">
        <button ng-click="save()" type="button" class="btn btn-success btn-fill pull-left" ng-disabled="pubForm.$invalid">Salvar</button>
        <button ng-click="cancel()" type="button" class="btn btn-default btn-fill pull-left">Fechar</button>
    </div>

</div>