
<div class="sp-title">
    <div class="container">
        <h2 class="sp-h2">About Our Hospital<span id="transmark" style="display: none; width: 0px; height: 0px;"></span></h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="clinic-tabs">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-inner" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#meet-doc" aria-controls="meet-doc" role="tab" data-toggle="tab" aria-expanded="true">
                                <i class="fa fa-user-md tab-icon"></i>
                                <span>Meet Doctors</span>
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false">
                                <i class="fa fa-stethoscope tab-icon"></i>
                                <span>Medical Services</span>
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false">
                            <i class="fa fa-heartbeat tab-icon"></i>
                            <span>About Meditreat</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">

                        <!--Meet The Doctors -->
                        <div role="tabpanel" class="tab-pane fade active in" id="meet-doc">
                            <!--Meet The Doc Box-->
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="meet-doc-box second-eff">
                                    <div class="meet-img-wrap">
                                        <img src="images/dt1.jpg" class="img-responsive" alt="meet-doctors">
                                        <div class="doc-info-part">
                                            <a class="prof-mail" href="mailto:info@meditreat.com"><i class="ion-ios-email-outline"></i>info@meditreat.com</a>
                                            <p class="text-content">"Dr. Louis Peters specialises in blandit vel vitae, magna estasen."</p>
                                            <a href="#" class="prof-button">View Profile</a>
                                        </div>
                                    </div>
                                    <div class="doc-main-info">
                                        <h4>Dr. Louis Peters</h4>
                                        <span class="doc-role">Gynecologist</span>
                                        <ul class="meet-doc-social">
                                            <li><a href="#"><i class="fa fa-facebook meetdoc-social-icon"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter meetdoc-social-icon"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin meetdoc-social-icon"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus meetdoc-social-icon"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="profile">



                            <!--Services Boxes 1 -->

                            <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">

                                <div class="mcare-service-box">

                                    <div class="mcare-service-title">

                                        <i class="mcare-flaticon-tooth23 mcare-service-icon"></i>

                                        

                                        <h4>Dental Implants</h4>

                                    </div>	

                                        <p class="text-content">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna estasente et Quisqu us enim.</p>							

                                </div>

                            </div><!--Services Boxes 1 End -->



                            <!--Services Boxes 1 -->

                            <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">

                                <div class="mcare-service-box">

                                    <div class="mcare-service-title">

                                        <i class="mcare-flaticon-stethoscope11 mcare-service-icon"></i>

                                        

                                        <h4>Pediatrics Surgeries</h4>

                                    </div>	

                                        <p class="text-content">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna estasente et Quisqu us enim.</p>							

                                </div>

                            </div><!--Services Boxes 1 End -->





                            <!--Services Boxes 1 -->

                            <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">

                                <div class="mcare-service-box">

                                    <div class="mcare-service-title">

                                        <i class="mcare-flaticon-health mcare-service-icon"></i>

                                        

                                        <h4>Health Checkups</h4>

                                    </div>	

                                        <p class="text-content">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna estasente et Quisqu us enim.</p>							

                                </div>

                            </div><!--Services Boxes 1 End -->



                            <!--Services Boxes 1 -->

                            <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">

                                <div class="mcare-service-box">

                                    <div class="mcare-service-title">

                                        <i class="mcare-flaticon-medical26 mcare-service-icon"></i>

                                        

                                        <h4>Rehabilitation Centre</h4>

                                    </div>	

                                        <p class="text-content">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna estasente et Quisqu us enim.</p>							

                                </div>

                            </div><!--Services Boxes 1 End -->



                            <!--Services Boxes 1 -->

                            <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">

                                <div class="mcare-service-box">

                                    <div class="mcare-service-title">

                                        <i class="mcare-flaticon-science29 mcare-service-icon"></i>

                                        

                                        <h4>Occupational Therapy</h4>

                                    </div>	

                                        <p class="text-content">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna estasente et Quisqu us enim.</p>							

                                </div>

                            </div><!--Services Boxes 1 End -->





                            <!--Services Boxes 1 -->

                            <div class="col-md-4 col-sm-6 col-lg-4 col-xs-12">

                                <div class="mcare-service-box">

                                    <div class="mcare-service-title">

                                        <i class="mcare-flaticon-lifeline5 mcare-service-icon"></i>

                                        

                                        <h4>Ultra Sonography</h4>

                                    </div>	

                                        <p class="text-content">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna estasente et Quisqu us enim.</p>							

                                </div>

                            </div><!--Services Boxes 1 End -->



                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="messages">
                            <!--Services Content-->
                            <section class="mcare-services1-content1">

                                <div class="container">

                                    <div class="row">

                                        

                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                            <h1 class="mcare-main-title">Meditreat HTML Template</h1>

                                            <p class="text-content">

                                                <span class="caps-one">M</span>editreat template is absolute solution build for hospitals, clinics, doctors, dentists and is suitable for any kind of website. Now it’s easy to build an online profile with large set of custom Short-codes.

                                            </p>

                                            <p class="text-content">

                                                Meditreat template comes up with all requisite features of health care businesses such as appointment form, doctor’s profile, gallery, blog, timetable, clinic schedule and many more.

                                            </p>



                                            <img src="images/screen-mockup1.png" class="img-responsive service-content-img" alt="">

                                        </div>



                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">



                                            <div class="services1-content1-listing">

                                                <ul>

                                                    <li>

                                                        <div class="ser-listing-icon"><i class="mcare-flaticon-lifeline5 mcare-service-icon"></i></div>

                                                        <div class="ser-listing-content">

                                                            <h4>Ready to Use</h4>

                                                            <p class="text-content">

                                                                Objectively parallel task worldwide human capital via pandemic ideas. Assertively simplify just in time

                                                            </p>

                                                        </div>

                                                        <div class="list_connector"></div>

                                                    </li>

                                                    <li>

                                                        <div class="ser-listing-icon"><i class="mcare-flaticon-medical38 mcare-service-icon"></i></div>

                                                        <div class="ser-listing-content">

                                                            <h4>Built With Bootstrap</h4>

                                                            <p class="text-content">

                                                                Objectively parallel task worldwide human capital via pandemic ideas. Assertively simplify just in time

                                                            </p>

                                                        </div>

                                                        <div class="list_connector"></div>

                                                    </li>

                                                    <li>

                                                        <div class="ser-listing-icon"><i class="mcare-flaticon-science29 mcare-service-icon"></i></div>

                                                        <div class="ser-listing-content">

                                                            <h4>Distinctive Typography</h4>

                                                            <p class="text-content">

                                                                Objectively parallel task worldwide human capital via pandemic ideas. Assertively simplify just in time

                                                            </p>

                                                        </div>

                                                        <div class="list_connector"></div>

                                                    </li>

                                                    

                                                    <li>

                                                        <div class="ser-listing-icon"><i class="mcare-flaticon-first21 mcare-service-icon"></i></div>

                                                        <div class="ser-listing-content">

                                                            <h4>Tailored Short-codes</h4>

                                                            <p class="text-content">

                                                                Objectively parallel task worldwide human capital via pandemic ideas. Assertively simplify just in time

                                                            </p>

                                                        </div>

                                                    </li>

                                                </ul>

                                            </div>



                                        </div>



                                    </div>

                                </div>

                            </section>
                    
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>